{% extends 'web_app/base.html' %}


{% block content %}
<div class="container col-6 offset-3">
    <div class="main-div">
        <h4 class="mb-3 mt-2">Опрос: <strong>{{ object.name }}</strong></h4>
        <form method="post" name="interview-form">
            {% csrf_token %}
            {% for question in object.questions.all %}
                <hr>
                <p>{{ question }}</p>
                    {% if question.type == 'text' %}
                        <textarea name="textBox:{{ question }}" id="" cols="50" rows="3" placeholder="Ваш вариант ответа..."></textarea>
                    {% endif %}

                    {% for answer in question.answers.all %}
                        {% if question.type == 'single choice' %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radioBox:{{ question }}" value="{{ answer.option }}" id="flexRadioDefault{{ answer.pk }}">
                                <label class="form-check-label" for="flexRadioDefault{{ answer.pk }}">
                                    {{ answer.option }}
                                </label>
                            </div>
                        {% elif question.type == 'multi choice' %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="checkBox:{{ question }}" value="{{ answer.option }}" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  {{ answer.option }}
                                </label>
                            </div>
                        {% endif %}
                    {% endfor %}
            {% endfor %}
            <hr>
            <input type="submit" class="btn btn-success col-4 offset-3 mb-5 mt-5" value="Готово">
        </form>
    </div> <!--- main-div --->
</div>
{% endblock %}